.container {
    background-color: #222;
    color: antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.main p {
    font-size: 15pc;
}

.signo {
    font-size: 2pc;
}

.button {
    margin: 1pc;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    background: #e65422;
    width: 13pc;
    height: 3pc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signo::after {
    content: '❓';
}

.signo::before {
    content: '❓';
    display: inline-block;
    transform: rotate(180deg);
}

.button:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background: #cc603d;
}

.button:active,
.button:focus,
.button:visited {
    transform: scale(1);
}