.container {
    /* height: calc(100vw - 100px); */
    background-color: #222;
    height: 25pc;
    display: flex;
}

.item {
    display: flex;
    flex: 1;
    position: relative;
}

.item:last-child {
    flex: 2;
    padding: 50px;
    justify-content: space-between;
}

.cart {
    flex: 1;
    padding: 0 20px;
}

.title {
    font-size: 18px;
    color: #b7903c;
}

.text {
    color: lightgray;
    margin: 15px 0px;
}

.motto {
    color: rgb(211, 211, 211);
}